h2{
    font-family: cursive;
}
p{
    font-family: sans-serif;
}
a{
    font-family: sans-serif;
}
h3{
    font-family: cursive;
}
h4{
    font-family: sans-serif;
}
h1{
    font-family: Lucida Sans;
}